<template>
  <v-card>
    <v-layout row>
      <v-flex md1>
        <v-navigation-drawer permanent>
          <v-toolbar flat>
            <v-list>
              <v-list-tile>
                <v-list-tile-title class="title">
                  Bots
                </v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-toolbar>
          <v-divider></v-divider>
          <v-list dense class="pt-0">
            <Bot v-for="id in botIDs" :id="id" :key="`botlisting-${id}`" @click="selectedId = id"></Bot>
          </v-list>
        </v-navigation-drawer>
      </v-flex>
      <v-flex>
        <BotEditor v-if="botIDs.length" :id="selectedId">

        </BotEditor>
        <div class="pa-2" v-else>
          <p>
            It seems you haven't created any bots yet. Why not make one?
          </p>
          <p>
            <v-btn color="primary" @click="showUpload()">
              Click here
            </v-btn>
          </p>
        </div>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import BotEntry from './Bot.vue';
import BotEditor from './BotEditor.vue';
import { Bot } from '../interfaces';

@Component({
  components: {
    BotEntry,
    BotEditor,
  },
})
export default class BotDisplay extends Vue {
  selectedId = -1;

  private showUpload() {
    this.$emit('createBot');
  }

  private print(id: string) {
    console.log(id);
  }

  public mounted() {
    this.$store.dispatch('fetchBots');
  }

  get botIDs() {
    console.log(this.$store.state.bots);
    return Object.keys(this.$store.state.bots);
  }
}

</script>