<template>
  <v-list-tile @click="$emit('click')">
    <v-list-tile-content>
      <v-list-tile-title class="text-xs-center" v-text="bot.name">
      </v-list-tile-title>
    </v-list-tile-content>
  </v-list-tile>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  props: {
    id: {
      type: String,
      required: true,
    },
  },
})
export default class BotEntry extends Vue {
  get bot() {
    return this.$store.state.bots[this.$props.id];
  }
}
</script>
