<template>
  <v-layout row pa-2>
    <v-flex>
      <template v-if="bot">
        <p>
          {{ bot.name }}
        </p>
        <p>
          {{ bot.noGames }}
        </p>
      </template>
      <template v-if="revision">
        <p>
          {{ revision.number }}
        </p>
        <p>
          {{ revision.noWins }}
        </p>
        <code>
          {{ revision.code }}
        </code>
      </template>
    </v-flex>
  </v-layout>
</template>

<script lang="ts">

import { Component, Vue } from 'vue-property-decorator';
import { BotRevision } from '../interfaces';

@Component({
  props: {
    id: {
      type: String,
      required: true,
    }
  },
})
export default class BotEditor extends Vue {
  revisions = [] as BotRevision[];
  selectedRevision = -1;

  get bot() {
    const { id } = this.$props;
    if (id === '') {
      return null;
    }
    return this.$store.state.bots[id];
  }

  get revision(): BotRevision {
    if (this.selectedRevision < 0) {
      return null;
    }
    return this.bot.revisions[this.selectedRevision];
  }

  mounted() {
    this.$store.dispatch('fetchBotRevisions', this.$props.id);
    this.selectedRevision = this.bot.currentRevision;
  }
}

</script>
