<template>
  <v-container align-content-center>
    <v-flex xs12 offset-xs0 sm10 offset-sm1 md8 offset-md2 lg6 offset-lg3 xl4 offset-xl4>
      <v-card>
        <v-card-title primary-title>
          <div class="headline">
            <h3>
              Login
            </h3>
          </div>
        </v-card-title>
        <v-alert v-model="showError" type="error" dismissible>
          The credentials were incorrect.
        </v-alert>
        <v-container class="px-4 pb-2">
          <v-text-field
              v-model="username"
              label="Username/Email"
            ></v-text-field>
          <v-text-field
              v-model="password"
              type="password"
              label="Password"
            ></v-text-field>
          <v-layout>
            <v-spacer></v-spacer>
            <v-btn :disabled="!isValid" @click="login()" color="primary" large>
              Login
            </v-btn>
          </v-layout>
        </v-container>
      </v-card>
    </v-flex>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component({
})
export default class Signup extends Vue {
  private username = '';
  private password = '';
  private showError = false;

  private get isValid() {
    return !!this.username && this.password.length >= 12;
  }

  private loginWithUsername() {
    this.$store.dispatch('login', {
      username: this.username,
      password: this.password,
    }).then((obj) => {
      if (obj.error) {
        this.showError = true;
      } else {
        this.$router.push('/');
      }
    }).catch((obj) => {
      console.log(obj);
    });
  }

  private loginWithEmail() {
    this.$store.dispatch('login', {
      email: this.username,
      password: this.password,
    }).then((obj) => {
      if (obj.error) {
        console.log(obj);
        this.showError = true;
      } else {
        this.$router.push('/');
      }
    }).catch((obj) => {
      console.log(obj);
    });
  }

  private login() {
    if (!this.isValid) {
      return;
    }

    if (/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(this.username)) {
      this.loginWithEmail();
    } else {
      this.loginWithUsername();
    }
  }
}
</script>
