<template>
  <v-container align-content-center>
    <v-flex xs12 offset-xs0 sm10 offset-sm1 md8 offset-md2 lg6 offset-lg3 xl4 offset-xl4>
      <v-card>
        <v-card-title primary-title>
          <div class="headline">
            <h3>
              Sign up
            </h3>
          </div>
        </v-card-title>
        <v-container>
          <v-form ref="form" v-model="valid" class="px-4 pb-2">
            <v-layout row wrap>
              <v-flex xs6 pr-2>
                <v-text-field
                    v-model="username"
                    :rules="usernameRules"
                    label="Username"
                  ></v-text-field>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="Email"
                  ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs6 pr-2>
                <v-text-field
                    v-model="firstName"
                    label="First Name"
                  ></v-text-field>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                    v-model="lastName"
                    label="Last Name"
                  ></v-text-field>
              </v-flex>
            </v-layout>
            <v-text-field
                v-model="country"
                label="Country"
              ></v-text-field>
            <v-layout row wrap>
              <v-flex xs6 pr-2>
                <v-text-field
                    v-model="password"
                    :rules="passwordRules"
                    type="password"
                    label="Password"
                  ></v-text-field>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                    v-model="passwordConfirm"
                    :rules="confirmRules"
                    type="password"
                    label="Confirm Password"
                  ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-spacer></v-spacer>
              <v-btn :disabled="!valid" @click="signup()" color="primary" large>
                Confirm
              </v-btn>
            </v-layout>
          </v-form>
        </v-container>
      </v-card>
    </v-flex>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component({
})
export default class Signup extends Vue {
  private username = '';
  private email = '';
  private password = '';
  private passwordConfirm = '';
  private country = '';
  private firstName = '';
  private lastName = '';
  private valid = false;

  private emailRules = [
    (v: string) => !!v || 'Email is required',
    (v: string) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid',
  ];

  private usernameRules = [
    (v: string) => !!v || 'Username is required',
  ];

  private passwordRules = [
    (v: string) => !!v || 'Password is required',
    (v: string) => v.length >= 12 || 'Password must be at least 12 characters long',
  ];

  private confirmRules = [
    (v: string) => !!v || 'You must confirm your password',
    (v: string) => this.passwordsMatch() || 'Passwords don\'t match',
  ];

  private passwordsMatch() {
    return this.password === this.passwordConfirm;
  }

  private signup() {
    if (!this.valid) {
      return;
    }
    this.$store.dispatch('signup', {
      username: this.username,
      password: this.password,
      email: this.email,
      country: this.country,
      firstName: this.firstName,
      lastName: this.lastName,
    }).then((response) => {
      if (!response.error) {
        this.$router.push('/home');
      } else {
        console.log(response.error);
      }
    }).catch((response) => {
      console.log(response);
    });
  }
}
</script>
