<template>
  <v-app>
    <v-toolbar dark color="primary" app>
      <v-toolbar-title><router-link to="/">AI Arena</router-link></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn to="/about" flat>About</v-btn>
        <v-btn flat>Browse Games</v-btn>
        <v-btn flat>Leaderboard</v-btn>
        <v-btn to="/docs" flat>Documentation</v-btn>
        <template v-if="signedIn">
          <v-btn flat>Browse Games</v-btn>
          <v-btn to="/bots" flat>Manage Bots</v-btn>
          <v-btn flat @click="logout()">Logout</v-btn>
        </template>
        <template v-else>
          <v-btn flat :to="{ name: 'signup', params: { login: true } }">Login/Sign up</v-btn>
        </template>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<style lang="scss">
  * {
    font-family: 'Roboto', sans-serif;
  }
</style>

<style scoped lang="scss">

a {
  text-decoration: none;
  color: inherit;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
})
export default class App extends Vue {
  private logout() {
    this.$store.dispatch('logout').then(() => {
      this.$router.push('/about');
    });
  }

  private get signedIn() {
    return this.$store.state.signedIn;
  }
}
</script>
