<template>
  <div>
    <v-card>
      <v-jumbotron color="grey lighten-2">
        <v-container fill-height>
          <v-layout align-center>
            <v-flex>
              <h3 class="display-3">Welcome to the AI Arena</h3>
              <span class="subheading">This is a website where people program bots that fight each other.</span>
              <v-divider class="my-3"></v-divider>
              <div class="title mb-3">Sign up to get started!</div>
              <v-btn to="/signup" large color="primary" class="mx-0">Sign up</v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-jumbotron>
    </v-card>
    <v-container>
      <v-layout row wrap>
        <v-flex xs12 md6 lg4 class="pa-2">
          <v-card>
            <v-card-title primary-title>
              <h3 class="headline">
                Challenge your friends
              </h3>
            </v-card-title>
            <v-card-text>
              <p>
                Convince your friends to join the fight!
              </p>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs12 md6 lg4 class="pa-2">
          <v-card>
            <v-card-title primary-title>
              <h3 class="headline">
                Watch games
              </h3>
            </v-card-title>
            <v-card-text>
              <p>
                Live games are streamed to users through websockets and displayed with WebGL.
              </p>
              <p>
                Check out the battles!
              </p>
              <v-layout>
                <v-spacer></v-spacer>
                <v-flex>
                  <v-btn color="primary" to="/docs">Click here</v-btn>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs12 md6 lg4 class="pa-2">
          <v-card>
            <v-card-title primary-title>
              <h3 class="headline">
                Code a bot
              </h3>
            </v-card-title>
            <v-card-text>
              <p>
                Bots are written in Lua 5.1, with an API for performing vector calculations.
              </p>
              <p>
                Check out the docs!
              </p>
              <v-layout>
                <v-spacer></v-spacer>
                <v-flex d-block>
                  <v-btn color="primary" to="/docs">Click here</v-btn>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<style lang="scss" scoped>

.about {
  max-width: 1000px;
  margin: auto;
}

</style>
