<template>
  <BotDisplay @createBot="createBot()">

  </BotDisplay>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import BotDisplay from '@/components/BotDisplay.vue';

@Component({
  components: {
    BotDisplay,
  },
})
export default class BotManager extends Vue {
  public mounted() {
    if (!this.$store.state.signedIn) {
      this.$router.push('/');
    }
  }

  private createBot() {
    this.$store.commit('updateBot', {
      name: "k",
      played: 0,
      kills: 0,
      deaths: 0,
      assists: 0,
      dd: 0,
      dt: 0,
      id: 1,
      userId: 1
    });
  }
}
</script>
