<template>
  <v-container>
    <v-card class="pa-4">
      <h3 class="display-1">
        Documentation
      </h3>
      <v-divider class="mb-4" />
      <h4 class="headline">
        Introduction
      </h4>
      <h5 class="subtitle">
        Skip this section if you want.
      </h5>
      <p class="mt-2">
        The only way to write bots is in Lua 5.1.
      </p>
      <p>
        This is almost certainly the most controversial decision made when designing this project,
        especially considering that websites such as <router-link href="https://riddles.io">riddles.io</router-link>
        allow you to use just about any language you'd want to use.
        However, there are several reasons for this choice.
      </p>
      <p>
        1. LuaJIT is fast - very fast. In certain benchmarks, it outperforms C.
      </p>
      <p>
        2. Lua interfaces very well with C. By using Lua, we can directly pass lua tables (objects) to your bots,
          and call functions you define so there's no need to parse text from stdin or other boring tasks.
      </p>
      <p>
        3. By supporting only a single language, we can make it very easy to develop in that language.
          We can provide APIs to perform tasks such as linear algebra so you don't need to code it - you can focus
          more on your bot's strategy.
      </p>
      <p>
        4. LuaJIT has a very small memory footprint, so we don't need to worry about running lots of bots.
      </p>
      <p>
        Now that that's out of the way, let's get to the code!
      </p>
      <h4 class="headline mt-4">
        Getting started
      </h4>
    </v-card>
  </v-container>
</template>

<style lang="scss" scoped>

.about {
  max-width: 1000px;
  margin: auto;
}

</style>
