<template>
    <div>
        Lorem ipsum something or other
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component({
})
export default class Home extends Vue{};

</script>

