<template>
  <div>
    <v-tabs
      slot="extension"
      v-model="currentItem"
      fixed-tabs
    >
      <v-tab href="#tab-login">
        Login
      </v-tab>
      <v-tab href="#tab-signup">
        Signup
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="currentItem">
      <v-tab-item id="tab-login">
        <Login></Login>
      </v-tab-item>
      <v-tab-item id="tab-signup">
        <Signup></Signup>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Signup from '@/components/Signup.vue';
import Login from '@/components/Login.vue';

@Component({
  components: {
    Signup,
    Login,
  },
})
export default class LoginPage extends Vue {
  public currentItem = 'tab-signup';
  public mounted() {
    if (this.$route.params.login) {
      this.currentItem = 'tab-login';
    }
  }
}
</script> 
